node_modules/

.expo/
.expo-shared/
expo-env.d.ts
dist/
web-build/

.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
*.pem

.env
.env.*
.env*.local

*.tsbuildinfo

/ios
/android

app-example

constants/config.ts